<div class="container">
  <div class="row justify-content-md-center">
  <div class style="padding: 100px;">
  <div class="text-center">

<h4><strong>本当に退会されますか？</strong></h4>
  <div class="row">
    <div class style="padding: 20px;">
 <p>
   退会すると、会員登録情報や<br>
   これまでの購入履歴が閲覧できなくなります。<br>
   退会する場合は、「退会する」をクリックしてください。
 </p>
 </div>
 </div>
  <%= link_to "退会しない", public_customer_path(current_customer) ,class:  "btn btn-primary" %>
  <%= link_to "退会する", public_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" },class:  "btn btn-danger" %>


  </div>
 </div>
  </div>
  </div>
