<h2>本当に退会されますか？</h2>
 <p>
   退会すると、会員登録情報や<br>
   これまでの購入履歴が閲覧できなくなります。<br>
   退会する場合は「退会する」をクリックしてください。
 </p>
  <%= link_to "退会する", public_withdraw_path, method: :patch, data: { confilm: "本当に退会しますか？" },class:  "btn btn-danger" %>
  <%= link_to "退会しない", public_customer_path(current_customer) ,class:  "btn btn-primary" %>