
  <div class="container">
     
  <div class="row">
      

      <div class="col-md-8 offset-md-2">
 <div class style="padding: 30px;">
   <h1>ようこそながのCAKEへ！</h1>
   <h4>このサイトは、ケーキ販売のECサイトになります。<br>
   会員の方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。</h4>
   </div>
</div>
</div>

<div class="container">
   <div class="row">
   
   <h2><strong>新着商品</strong></h2>
   </div>
    <div class="row">
      
      <% @items.each do |item| %>
      <div class = "offset-md-1">
    <%= image_tag item.get_profile_image(100,100) %>
    <br><%= item.name %>
    <br>¥<%= item.add_tax_price.to_s(:dalimited) %>
    </div>
   <% end %>
   <%= link_to "全ての商品を見る" ,public_items_path %>

</div>
</div>
