<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">会員一覧</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">会員id</th>
       <th scope="col">氏名</th>
       <th scope="col">メールアドレス</th>
       <th scope="col">ステータス</th>
    </tr>
  </thead>
   <tbody>
     <!--% @customer.each do |customer| %-->
    <tr>
     <td><!--%= customer. %-->hiniti</td>
     <td><!--% customer.name %--></td>
     <td><!--% customer.amount %--></td>
     <td>

     </td>
    </tr>
      < % end %>
   </tbody>
   </table>
  </div>
</div>

