<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">会員一覧</h3>
    </div>
   </div>
 </div>

 <div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">会員id</th>
       <th scope="col">氏名</th>
       <th scope="col">メールアドレス</th>
       <th scope="col">ステータス</th>
    </tr>
  </thead>
   <tbody>
     <% @customers.each do |customer| %>
    <tr>
     <td><%= customer.id %></td>
     <td><%= link_to (customer.last_name + customer.first_name),admin_customer_path(customer.id) %></td>
     <td><%= customer.email %></td>
      
     <td>
       <% if customer.is_deleted %>
        退会
      <% else %>
        有効
      <% end %>
     </td>
    </tr>
<% end %>
   </tbody>
   </table>
   <%= paginate @customers %>
  </div>
</div>

