<div class="container">
   <div class="row">
    <div class style="padding: 50px;">

        <h3 class="border bg-light">ジャンル一覧・追加</h3>
    </div>
   </div>
 </div>

 <div class="container">
   <div class="row">
      <form method="post" action="hoge" class="form-inline text-left">
     <div class="form-group">
     <%= form_for [:admins,@genre] do |f| %>

      <label for="genres" class="control-label">ジャンル名</label>
      <input type="text" name="name" id="name" placeholder="" class="form-control">
    </div>
      <button type="submit" class="btn btn-success">新規登録</button>
    <% end %>
     </form>
  </div>
</div>
<div class="container">
  <div class="row">
     <table class="table">
  　　　<thead>
    <tr>
       <th scope="col">ジャンル</th>
    </tr>
  </thead>
  <tbody>
     <% @genres.each do |genre| %>
    <tr>
     <td><%= genre.name %></td>

      <td>
         <% if @genre.admin == current_admin %>
        <%= link_to "編集する", admin_genre_edit_path(@genre.id) ,class: "btn btn-success" %>
      </td>
    </tr>
      <% end %>
      <% end %>
  </tbody>
</table>
  </div>
</div>

