* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
 }
 
 .back-style{
   height: 500px;
   background: url(/nagano_cake/app/assets/images/テクスチャ・背景｜写真素材なら「写真AC」無料（フリー）ダウンロードOK.jpeg) no-repeat;
	background-size: cover;
 }
 
 .recommend-container{
   flex-box:
 }
