* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
 }
 
 
 .recommend-container{

 }
 
 .no-gutters {
  margin:0;
  padding:0;
}
 
.no-gutters　> .col,
.no-gutters　> [class*="col-"] {
  margin:0;
  padding:0;
}
