    <h1>商品一覧(全<%= @items.count %>件)</h1>
    
     <% @items.each do |item| %>
     <%= link_to public_item_path(item.id) do %>
        <!--%= image_tag @item.get_profile_image(100,100) %-->
      <%= item.name %>
      
      <%= item.add_tax_price.to_s(:dalimited) %>
     <% end %>
   
     <% end %>


